<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ STATIC_URL }}static/plugins/images/favicon.png">
    <title>LinkPlus</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ STATIC_URL }}static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="{{ STATIC_URL }}static/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}static/plugins/bower_components/datatables/jquery.dataTables.min.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="{{ STATIC_URL }}static/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}static/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="{{ STATIC_URL }}static/css/colors/blue-dark.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> <img src="{{ STATIC_URL }}static/plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">{{ request.user }}</b><span class="caret"></span> </a>
                        <ul class="dropdown-menu dropdown-user animated flipInY">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img"><img src="{{ STATIC_URL }}static/plugins/images/users/varun.jpg" alt="user" /></div>
                                    <div class="u-text">
                                        <h4>{{ request.user }}</h4>
                                        </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-menu hidden-xs"></i><i class="ti-close visible-xs"></i></span> <span class="hide-menu">Navigation</span></h3> </div>
                <ul class="nav" id="side-menu">
                    <li class="user-pro">
                        <a href="#" class="waves-effect"><img src="{{ STATIC_URL }}static/plugins/images/users/varun.jpg" alt="user-img" class="img-circle"> <span class="hide-menu">Hi, {{ request.user }}<span class="fa arrow"></span></span>
                        </a>
                        <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                            <li><a href="javascript:void(0)"><i class="ti-user"></i> <span class="hide-menu">My Profile</span></a></li>
                            <li><a href="/logout"><i class="fa fa-power-off"></i> <span class="hide-menu">Logout</span></a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="waves-effect"><i class="mdi mdi-emoticon fa-fw"></i><span class="hide-menu">Customers<span class="fa arrow"></span><span class="label label-rouded label-danger pull-right">{{ customers_count }}</span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="/show-customers"><i class="fa-fw">S</i><span class="hide-menu">Show All Customers</span></a></li>
                            <li><a href="/new-customer"><i class="fa-fw">A</i><span class="hide-menu">Add New Customer</span></a></li>
                        </ul>
                    <li> <a href="#" class="waves-effect"><i class="mdi mdi-account-multiple fa-fw"></i> <span class="hide-menu">Partner<span class="fa arrow"></span><span class="label label-rouded label-danger pull-right">{{ partners_count }}</span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="/show-partners"><i class="fa-fw">S</i><span class="hide-menu">Show All Partners</span></a></li>
                            <li><a href="/new-partner"><i class="fa-fw">A</i><span class="hide-menu">Add New Partner</span></a></li>
                        </ul>
                    <li> <a href="#" class="waves-effect"><i class="mdi mdi-account-check fa-fw"></i> <span class="hide-menu">Vendor<span class="fa arrow"></span><span class="label label-rouded label-danger pull-right">{{ vendors_count }}</span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="/show-vendors"><i class="fa-fw">S</i><span class="hide-menu">Show All Vendors</span></a></li>
                            <li><a href="/new-vendor"><i class="fa-fw">A</i><span class="hide-menu">Add New Vendor</span></a></li>
                        </ul>
                    <li> <a href="#" class="waves-effect"><i class="mdi mdi-cash-usd fa-fw"></i> <span class="hide-menu">Pre-Sales<span class="fa arrow"></span><span class="label label-rouded label-danger pull-right">{{ presales_count }}</span></span></a>
                         <ul class="nav nav-second-level">
                            <li><a href="/show-presales"><i class="fa-fw">S</i><span class="hide-menu">Show All Pre-Sales</span></a></li>
                            <li><a href="/new-presale"><i class="fa-fw">A</i><span class="hide-menu">Add New Pre-Sale</span></a></li>
                        </ul>
                    <li> <a href="#" class="waves-effect"><i class="mdi mdi-calendar fa-fw"></i> <span class="hide-menu">Post-Sales<span class="fa arrow"></span><span class="label label-rouded label-danger pull-right">{{ postsales_count}}</span></span></a>
                         <ul class="nav nav-second-level">
                            <li><a href="/show-postsales"><i class="fa-fw">S</i><span class="hide-menu">Show All Post-Sales</span></a></li>
                            <li><a href="/new-postsale"><i class="fa-fw">A</i><span class="hide-menu">Add New Post-Sale</span></a></li>
                        </ul>
                    <li> <a href="#" class="waves-effect"><i class="mdi mdi-clipboard-text fa-fw"></i> <span class="hide-menu">Case<span class="fa arrow"></span><span class="label label-rouded label-danger pull-right">{{ case_count }}</span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="/show-case"><i class="fa-fw">S</i><span class="hide-menu">Show All Cases</span></a></li>
                            <li><a href="/new-case"><i class="fa-fw">A</i><span class="hide-menu">Add New Case</span></a></li>
                        </ul>
                    <li> <a href="#" class="waves-effect"><i class="mdi mdi-phone fa-fw"></i> <span class="hide-menu">Support<span class="fa arrow"></span><span class="label label-rouded label-danger pull-right">{{ support_count }}</span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="/show-support"><i class="fa-fw">S</i><span class="hide-menu">Show All Support</span></a></li>
                            <li><a href="/new-support"><i class="fa-fw">A</i><span class="hide-menu">Add New Support</span></a></li>
                        </ul>
                </ul>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">{{ page_title }}</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>

                {% block default_content %}

                {% endblock default_content %}


<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <div class="white-box">-->

<!--                            {% block page_content %}-->

<!--                            {% endblock page_content %}-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->


            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2019 &copy; LinkPlus </footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="{{ STATIC_URL }}static/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ STATIC_URL }}static/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="{{ STATIC_URL }}static/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="{{ STATIC_URL }}static/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="{{ STATIC_URL }}static/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ STATIC_URL }}static/js/custom.min.js"></script>
    <script src="{{ STATIC_URL }}static/js/mask.js"></script>
    <!--Style Switcher -->
    <script src="{{ STATIC_URL }}static/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
    <script src="{{ STATIC_URL }}static/plugins/bower_components/datatables/jquery.dataTables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#myTable').DataTable();
        $(document).ready(function() {
            var table = $('#example').DataTable({
                "columnDefs": [{
                    "visible": false,
                    "targets": 2
                }],
                "order": [
                    [2, 'asc']
                ],
                "displayLength": 25,
                "drawCallback": function(settings) {
                    var api = this.api();
                    var rows = api.rows({
                        page: 'current'
                    }).nodes();
                    var last = null;
                    api.column(2, {
                        page: 'current'
                    }).data().each(function(group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                            last = group;
                        }
                    });
                }
            });
            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function() {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([2, 'desc']).draw();
                } else {
                    table.order([2, 'asc']).draw();
                }
            });
        });
    });
    $('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
    </script>
</body>

</html>
