{% extends "home/blank.html" %}

{% load staticfiles %}

{% block default_content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title m-b-0">Validation</h3>
                    <p class="text-muted m-b-30 font-13"> This is the Validation wizard with validation.</p>
                    <div id="exampleValidator" class="wizard">
                        <ul class="wizard-steps" role="tablist">
                            <li class="active" role="tab">
                                <h4><span><i class="ti-user"></i></span>Activity Details</h4></li>
                            <li role="tab">
                                <h4><span><i class="ti-credit-card"></i></span>Contacts</h4></li>
                            <li role="tab">
                                <h4><span><i class="ti-check"></i></span>Password</h4></li>
                        </ul>
                        <form id="validation" class="form-horizontal">
                            <div class="wizard-content">
                                <div class="wizard-pane active" role="tabpanel">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">Vendor</label>
                                        <div class="col-xs-5">
                                            <input type="text" class="form-control" name=""/></div>
                                    </div>
                                </div>
                                <div class="form-group">-->
                            <label for="existing_customers" class="col-sm-3 control-label">Customer Company</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-user"></i></div>
                                    <select id="existing_customers" name="existing_customers" class="form-control">
                                        <option disabled selected>Existing Customers</option>
                                        {% for customer in all_customers %}
                                        <option id="{{ customer.id }}" name="{{ customer.id }}"
                                                value="{{ customer.id }}">{{ customer.company }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-user"></i></div>
                                    <input type="text" class="form-control" id="new_customer" name="new_customer"
                                           placeholder="New Customer"></div>
                            </div>
                        </div>
                                <div class="wizard-pane" role="tabpanel">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">Email address</label>
                                        <div class="col-xs-5">
                                            <input type="text" class="form-control" name="email"/></div>
                                    </div>
                                </div>
                                <div class="wizard-pane" role="tabpanel">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">Password</label>
                                        <div class="col-xs-5">
                                            <input type="password" class="form-control" name="password"/></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--            <div class="white-box">-->
        <!--                <h3 class="box-title m-b-0">{{ page_title }}</h3>-->
        <!--                <p class="text-muted m-b-30 font-13"> Create New One</p>-->

        <!--                <div class="form-group">-->
        <!--                    <label for="company" class="col-sm-3 control-label">Vendor</label>-->
        <!--                    <div class="col-sm-9">-->
        <!--                        <div class="input-group">-->
        <!--                            <div class="input-group-addon"><i class="ti-bag"></i></div>-->
        <!--                            <input type="text" class="form-control" id="company" name="company"-->
        <!--                                   placeholder="Vendor Name: Trend Micro / MobileIron"></div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="form-group">-->
        <!--                    <label for="product" class="col-sm-3 control-label">Product</label>-->
        <!--                    <div class="col-sm-9">-->
        <!--                        <div class="input-group">-->
        <!--                            <div class="input-group-addon"><i class="ti-bookmark"></i></div>-->
        <!--                            <input type="text" class="form-control" id="product" name="product"-->
        <!--                                   placeholder="Product or Solution"></div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="form-group">-->
        <!--                    <label for="description" class="col-sm-3 control-label">Description</label>-->
        <!--                    <div class="col-sm-9">-->
        <!--                        <div class="input-group">-->
        <!--                            <div class="input-group-addon"><i class="ti-agenda"></i></div>-->
        <!--                            <textarea class="form-control" name="description" id="description" cols="40"-->
        <!--                                      rows="5"></textarea>-->

        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                -->
        <!--                <div class="form-group">-->
        <!--                    <label for="description" class="col-sm-3 control-label">Date</label>-->
        <!--                    <div class="col-sm-9">-->
        <!--                        <div class="input-group">-->
        <!--                            <input type="text" class="form-control" name="datepicker-autoclose" id="datepicker-autoclose" placeholder="mm/dd/yyyy">-->
        <!--                            <span class="input-group-addon"><i class="icon-calender"></i></span></div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="form-group">-->
        <!--                    <label for="status" class="col-sm-3 control-label">Activity</label>-->
        <!--                    <div class="col-sm-9">-->
        <!--                        <div class="input-group">-->
        <!--                            <div class="input-group-addon"><i class="ti-briefcase"></i></div>-->
        <!--                            <select id="activitytype" name="activitytype" class="form-control">-->

        <!--                                {% for activitytype in all_activity_types %}-->
        <!--                                <option id="{{ activitytype.id }}" name="{{ customer.id }}"-->
        <!--                                        value="{{ activitytype.id }}">{{ activitytype.title }}-->
        <!--                                </option>-->
        <!--                                {% endfor %}-->
        <!--                            </select>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->


        <!--                <div class="form-group">-->
        <!--                    <label for="existing_customers" class="col-sm-3 control-label">Customer Company</label>-->
        <!--                    <div class="col-sm-4">-->
        <!--                        <div class="input-group">-->
        <!--                            <div class="input-group-addon"><i class="ti-user"></i></div>-->
        <!--                            <select id="existing_customers" name="existing_customers" class="form-control">-->
        <!--                                <option disabled selected>Existing Customers</option>-->
        <!--                                {% for customer in all_customers %}-->
        <!--                                <option id="{{ customer.id }}" name="{{ customer.id }}"-->
        <!--                                        value="{{ customer.id }}">{{ customer.company }}-->
        <!--                                </option>-->
        <!--                                {% endfor %}-->
        <!--                            </select>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                    <div class="col-sm-5">-->
        <!--                        <div class="input-group">-->
        <!--                            <div class="input-group-addon"><i class="ti-user"></i></div>-->
        <!--                            <input type="text" class="form-control" id="new_customer" name="new_customer"-->
        <!--                                   placeholder="New Customer"></div>-->
        <!--                    </div>-->
        <!--                </div>-->

        <!--                <div class="form-group">-->
        <!--                    <label for="existing_partners" class="col-sm-3 control-label">Partner Company</label>-->
        <!--                    <div class="col-sm-4">-->
        <!--                        <div class="input-group">-->
        <!--                            <div class="input-group-addon"><i class="ti-user"></i></div>-->
        <!--                            <select id="existing_partners" name="existing_partners" class="form-control">-->
        <!--                                <option disabled selected>Existing Partners</option>-->
        <!--                                {% for partner in all_partners %}-->
        <!--                                <option id="{{ partner.id }}" name="{{ partner.id }}" value="{{ partner.id }}">-->
        <!--                                    {{ partner.company }} {{ partner.fullname }}-->
        <!--                                </option>-->
        <!--                                {% endfor %}-->
        <!--                            </select>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                    <div class="col-sm-5">-->
        <!--                        <div class="input-group">-->
        <!--                            <div class="input-group-addon"><i class="ti-user"></i></div>-->
        <!--                            <input type="text" class="form-control" id="new_partner" name="new_partner"-->
        <!--                                   placeholder="New Partner"></div>-->
        <!--                    </div>-->
        <!--                </div>-->

        <!--                <div class="form-group">-->
        <!--                    <label for="existing_vendors" class="col-sm-3 control-label">Vendor Company</label>-->
        <!--                    <div class="col-sm-4">-->
        <!--                        <div class="input-group">-->
        <!--                            <div class="input-group-addon"><i class="ti-user"></i></div>-->
        <!--                            <select id="existing_vendors" name="existing_vendors" class="form-control">-->
        <!--                                <option disabled selected>Existing Vendors</option>-->
        <!--                                {% for vendor in all_vendors %}-->
        <!--                                <option id="{{ vendor.id }}" name="{{ vendor.id }}" value="{{ vendor.id }}">-->
        <!--                                    {{ vendor.company }} {{ vendor.fullname }}-->
        <!--                                </option>-->
        <!--                                {% endfor %}-->
        <!--                            </select>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                    <div class="col-sm-5">-->
        <!--                        <div class="input-group">-->
        <!--                            <div class="input-group-addon"><i class="ti-user"></i></div>-->
        <!--                            <input type="text" class="form-control" id="new_vendor" name="new_vendor"-->
        <!--                                   placeholder="New Vendor"></div>-->
        <!--                    </div>-->
        <!--                </div>-->

        <!--                <div class="form-group">-->
        <!--                    <label for="officer" class="col-sm-3 control-label">Officer</label>-->
        <!--                    <div class="col-sm-9">-->
        <!--                        <div class="input-group">-->
        <!--                            <div class="input-group-addon"><i class="ti-user"></i></div>-->
        <!--                            <select id="officer" name="officer" class="form-control">-->
        <!--                                {% for officer in all_officers %}-->
        <!--                                <option id="{{ officer.id }}" name="{{ officer.id }}" value="{{ officer.id }}">-->
        <!--                                    {{ officer.fullname }}-->
        <!--                                </option>-->
        <!--                                {% endfor %}-->
        <!--                            </select>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="form-group">-->
        <!--                    <label for="location" class="col-sm-3 control-label">Location</label>-->
        <!--                    <div class="col-sm-9">-->
        <!--                        <div class="input-group">-->
        <!--                            <div class="input-group-addon"><i class="ti-briefcase"></i></div>-->
        <!--                            <select id="location" name="location" class="form-control">-->
        <!--                                <option id="Remote Session" name="Remote Session" value="Remote Session">Remote-->
        <!--                                    Session-->
        <!--                                </option>-->
        <!--                                <option id="Out of İstanbul" name="Out of İstanbul" value="Out of İstanbul">Out of-->
        <!--                                    İstanbul-->
        <!--                                </option>-->
        <!--                                <option id="In İstanbul" name="In İstanbul" value="In İstanbul">In İstanbul</option>-->
        <!--                            </select>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="form-group">-->
        <!--                    <label for="status" class="col-sm-3 control-label">Status</label>-->
        <!--                    <div class="col-sm-9">-->
        <!--                        <div class="input-group">-->
        <!--                            <div class="input-group-addon"><i class="ti-briefcase"></i></div>-->
        <!--                            <select id="status" name="status" class="form-control">-->
        <!--                                <option id="Open" name="Open" value="Open">Open</option>-->
        <!--                                <option id="Close" name="Close" value="Close">Close</option>-->
        <!--                            </select>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->


        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>

        <div class="form-group m-b-0">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-info waves-effect waves-light m-t-10">Save</button>
            </div>
        </div>
        </form>
    </div>

    {% endblock default_content %}